main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: fit-content;
    padding: 12px 24px;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

.solid-button {
    background-color: #45CB85;
    color: white;
}

.border-button {
    background-color: white;
    color: #45CB85;
    border: #45CB85 4px solid!important;
}

#fetchForm {
    padding: 36px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25%;
    width: fit-content;
}

.inputs {
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}

#fetchButton {
    margin: 32px 0;
}

input[type="text"] {
    border-radius: 100px;
    border: #45CB85 2px solid;
    padding: 8px 12px;
    box-sizing: border-box;
}

.textLabel {
    font-weight: bold;
    padding-bottom: 8px;
}

::placeholder {
    font-style: italic;
    color: #999999;
}

.radioInputs {
    display: flex;
    justify-content: space-between;
}

.radioInputs div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="radio"] {
    appearance: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    border: #45CB85 2px solid;
    margin: 0;
}
input[type="radio"]:checked {
    border: #45CB85 6px solid;
}

.radioTitle {
    font-weight: bold;
    margin: 0;
    padding: 0 0 12px 0;
}

.radioLabel {
    font-weight: bold;
    padding-bottom: 6px;
    color: #45CB85;
}

#responseDiv {
    border: #45CB85 4px solid;
    border-radius: 16px;
    padding: 36px 48px;
    min-width: 25%;
    text-align: center;
}

h4 {
    margin: 0;
    padding: 0 0 36px 0;
}
